<nav
  class="top-0 left-0 w-full z-50 flex items-center justify-between px-10 lg:px-16 py-5 bg-[#2B1B12] shadow-md text-[#E9DCCB]"
>
  <!-- Logo -->
  <div class="flex items-center space-x-2">
    <a
      routerLink="/"
      class="flex items-center space-x-2 hover:opacity-90 transition-opacity duration-200"
    >
      <img src="../../../../assets/logo.png" alt="Simsark Logo" class="w-36 md:w-40 rounded" />
    </a>
  </div>

  <!-- Nav links -->
  <ul class="hidden md:flex space-x-8 lg:space-x-10 font-medium">
    <li>
      <a
        routerLink="/home"
        routerLinkActive="text-[#D7C3B8] font-semibold border-b-2 border-[#D7C3B8]"
        [routerLinkActiveOptions]="{ exact: true }"
        class="hover:text-[#E9DCCB]/80 transition-colors duration-200 pb-1"
      >
        Home
      </a>
    </li>
    <li>
      <a
        routerLink="/contact"
        routerLinkActive="text-[#D7C3B8] font-semibold border-b-2 border-[#D7C3B8]"
        class="hover:text-[#E9DCCB]/80 transition-colors duration-200 pb-1"
      >
        Contact
      </a>
    </li>
    @if((isLogged$ | async) === true){
    <li>
      <a
        routerLink="/create-post"
        routerLinkActive="text-[#D7C3B8] font-semibold border-b-2 border-[#D7C3B8]"
        class="hover:text-[#E9DCCB]/80 transition-colors duration-200 pb-1"
      >
        New Post
      </a>
    </li>
    }
  </ul>

  <!-- Auth buttons -->
  <div class="flex items-center space-x-3">
    @if((isLogged$ | async) === false){
    <button
      routerLink="/auth/register"
      class="bg-[#D7C3B8] text-[#2B1B12] font-semibold px-5 py-2 rounded-md hover:bg-[#B99F8A] cursor-pointer transition-all duration-200"
    >
      Register
    </button>
    <button
      routerLink="/auth/login"
      class="border border-[#FFFFF] text-[#D7C3B8] font-semibold px-5 py-2 rounded-md hover:bg-[#D7C3B8] cursor-pointer hover:text-[#2B1B12] transition-all duration-200"
    >
      Login
    </button>
    } @else {
    <button
      routerLink="/profile"
      class="flex items-center gap-2 border border-[#D7C3B8]/40 text-[#E9DCCB] px-4 py-2 rounded-md hover:bg-[#3B261A] transition-all duration-200"
    >
      <i class="fa-solid fa-user"></i> Profile
    </button>
    <button
      (click)="logout()"
      class="bg-[#D7C3B8] text-[#2B1B12] font-semibold px-5 py-2 rounded-md hover:bg-[#B99F8A] cursor-pointer transition-all duration-200"
    >
      Logout
    </button>
    }
  </div>
</nav>
